<dribehance-header active="'pingce'"></dribehance-header>
<div class="wrap">
    <div class="breadhead">
        <!-- 首页 - 家电 - 家电评测 - 厨房电器评测 - 正文 -->
    </div>
    <div class="article">
        <h1 class="article-title text-center">{{article.title}}</h1>
        <div class="article-meta text-center">
            <span><i class="fa fa-clock-o" aria-hidden="true"></i> {{article.post_time}}</span>
            <span><i class="fa fa-bars" aria-hidden="true"> 品牌：{{article.brand}}</i></span>
            <span><i class="fa fa-user" aria-hidden="true"></i> 作者：{{article.writer}}</span>
        </div>
        <div class="article-content" ng-bind-html="parse_html(article.content)"></div>
    </div>
    <!-- UY BEGIN -->
    <div id="uyan_frame" style="padding-top:15px;"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
    <!-- UY END -->
</div>
<dribehance-footer></dribehance-footer>
