<dribehance-header active="'index'"></dribehance-header>
<div class="wrap">
	<div class="brand-section">
		<div class="brand-section-left">
			<imageview data-rate="1" center-only src="1"></imageview>
		</div>
		<div class="brand-section-right">
			<h1>柏森</h1>
			<div class="summary">
				柏森——属于深圳市耀华宜家家具有限公司所经营的家具品牌，该公司创建于2005年，属中外合资企业，位于深圳龙岗区大地工业园，是一家以实木家具为主，集研发、生产、销售于一体的大型企业。下辖柏森系列产品研发设计所、三家制造厂、二家控股子公司、一家沙发厂和遍布海内外的“柏森”品牌专营连锁网络。是广东省家具行业协会常务理事单位，深圳家协副会长单位,先后被授予“深圳家具行业最具潜力品牌”、“省优质产品”和“深圳市质量诚信企业”。
			</div>
		</div>
	</div>
	<div class="category-section">
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a ng-href="#/serial">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
    </div>
</div>
<dribehance-footer></dribehance-footer>
