<dribehance-header active="'neimu'"></dribehance-header>
<div class="wrap">
    <div class="category-section">
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a ng-href="#/category_info">
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
    </div>
    <div class="supplier-section">
        <div class="section-header">
            <span class="block">供应商</span>
            <span class="en">Supplier</span>
        </div>
        <div class="suppiler-list">
            <a ng-href="#/supplier">
                <imageview data-rate="160/82" center-only src="'../images/supplier_1.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_2.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_3.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_4.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_5.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_6.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_6.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_1.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_2.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_3.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_4.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_5.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_6.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_6.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_1.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_2.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_3.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_4.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_5.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_6.png'"></imageview>
            </a>
            <a href="">
                <imageview data-rate="160/82" center-only src="'../images/supplier_6.png'"></imageview>
            </a>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
