<dribehance-header active="'neimu'"></dribehance-header>
<div class="wrap">
    <div class="category-info-section">
        <div class="info-image">
            <imageview data-rate="623/328" center-only src="staticImageUrl + category_info.images_01"></imageview>
        </div>
        <div class="info-text">
            <div class="h1">{{category_info.title}}</div>
            <div class="summary" ng-class="{'auto':auto_height}" ng-bind-html="parse_html(category_info.introduce)"></div>
            <span class="btn btn-warning full-width" ng-click="preview()" ng-if="!auto_height && query_charater_length(category_info.introduce) > 120">+点击查看更多</span>
            <span class="btn btn-warning full-width" ng-click="preview()" ng-if="auto_height && query_charater_length(category_info.introduce) > 120">- 收起</span>
        </div>
    </div>
    <div class="section-1" ng-if="(category_info.HangyeInsiderImagesList|filter:{images_type:1}).length >0">
        <div class="section-header">
            <span class="block">整体、生成环境等图集</span>
            <span class="en">Image group</span>
        </div>
        <div class="category-section">
            <a target="_blank" ng-href="#/image_group?type=1&id={{image.hangye_insider_images_id}}" ng-repeat="image in category_info.HangyeInsiderImagesList|filter:{images_type:1}">
                <span class="category-title">{{image.title}}</span>
                <imageview data-rate="200/112" center-only src="staticImageUrl + image.images_01"></imageview>
            </a>
        </div>
    </div>
    <div class="section-1" ng-if="(category_info.HangyeInsiderImagesList|filter:{images_type:2}).length >0">
        <div class="section-header">
            <span class="block">纹理细节图集、原材料成品图集</span>
            <span class="en">Image group</span>
        </div>
        <div class="category-section">
            <a target="_blank" ng-href="#/image_group?type=1&id={{image.hangye_insider_images_id}}" ng-repeat="image in category_info.HangyeInsiderImagesList|filter:{images_type:2}">
                <span class="category-title">{{image.title}}</span>
                <imageview data-rate="200/112" center-only src="staticImageUrl + image.images_01"></imageview>
            </a>
        </div>
    </div>
    <div class="section-1" ng-if="(category_info.HangyeInsiderImagesList|filter:{images_type:3}).length >0">
        <div class="section-header">
            <span class="block">代表作品集</span>
            <span class="en">Image group</span>
        </div>
        <div class="category-section">
            <a target="_blank" ng-href="#/image_group?type=1&id={{image.hangye_insider_images_id}}" ng-repeat="image in category_info.HangyeInsiderImagesList|filter:{images_type:3}">
                <span class="category-title">{{image.title}}</span>
                <imageview data-rate="200/112" center-only src="staticImageUrl + image.images_01"></imageview>
            </a>
        </div>
    </div>
    <div class="supplier-section" ng-if="supplier_list.length>0">
        <div class="section-header">
            <span class="block">供应商</span>
            <span class="en">Supplier</span>
        </div>
        <div class="suppiler-list">
            <a target="_blank" ng-href="#/supplier?id={{supplier.hangye_insider_supplier_id}}&type=2" ng-repeat="supplier in supplier_list">
                <imageview data-rate="160/82" center-only src="staticImageUrl + supplier.logo"></imageview>
            </a>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
