<div class="top-bar" id="top">
    <div class="wrap">
        24 小时热线： 0123456789 <span class="splash">/</span> 客服QQ：0123456789
        <div class="pull-right">
            <span class="hover" ng-click="go('signin')" ng-if="!user">登录</span>
            <span class="hover" ng-click="go('me')" ng-if="user">{{user.telephone}}</span>
            <span class="splash">/</span>
            <span class="hover" ng-click="go('signup')" ng-if="!user">注册</span>
            <span class="hover" ng-click="logout()" ng-if="user">退出</span>
        </div>
    </div>
</div>
<div class="header" ng-controller="hfController">
    <div style="overflow: hidden;" class="gd" ng-if="(ads|filter:{location_index:1}).length > 0">
        <banner class="banner" data-rate="1000/60">
            <a ng-href="{{ad.goto_url}}" class="block" target="_blank" ng-repeat="ad in ads|filter:{location_index:1}" on-repeat-done>
                <imageview data-rate="1000/60" src="staticImageUrl + ad.images_01" center-only ></imageview>
            </a>
        </banner>
    </div>
    <div class="wrap">
        <div class="logo"></div>
        <div class="pull-right">
            <div class="nav">
                <a ng-href="#/index" ng-class="{'active':active=='index'}">首页</a>
                <span class="splash">/</span>
                <a ng-href="#/pingce" ng-class="{'active':active=='pingce'}">家具评测</a>
                <span class="splash">/</span>
                <a ng-href="#/neimu" ng-class="{'active':active=='neimu'}">行业内幕</a>
                <span class="splash">/</span>
                <a ng-href="#/jiaju" ng-class="{'active':active=='jiaju'}">找家具</a>
                <span class="splash">/</span>
                <a ng-href="#/shequ" ng-class="{'active':active=='shequ'}">社区</a>
                <span class="splash">/</span>
                <a ng-href="#/contact" ng-class="{'active':active=='contact'}">联系我们</a>
            </div>
            <form class="search-section" ng-submit="ajaxForm()" name="searchForm">
                <div class="search-dropdown">
                    <select name="category" id="category" ng-model="input.category">
                        <option value="article">文章</option>
                        <option value="neimu">内幕</option>
                        <option value="jiaju">家具</option>
                    </select>
                </div>
                <input type="text" ng-model="input.kw" required placeholder="请输入关键字">
                <button class="search-icon hover" type="submit" ng-disabled="searchForm.$invalid"></button>
            </form>
        </div>
    </div>
</div>
