<dribehance-header active="'index'"></dribehance-header>
<div class="wrap">
    <div class="image-group-section">
        <div class="image-group-left">
            <imageview data-rate="690/599" center-only src="1"></imageview>
        </div>
        <div class="image-group-right">
            <p>整体、生成环境图集 ( xxx张)</p>
            <p>纹理细节图集、原材料图集 （xxx张）</p>
            <p>代表作品图集（xxx张）</p>
            <p><b>猜你喜欢</b></p>
            <div class="recommand-section">
            	<div class="recommand-item">
            		<imageview data-rate="1"></imageview>
            		<span>柏森</span>
            	</div>
            	<div class="recommand-item">
            		<imageview data-rate="1"></imageview>
            		<span>柏森</span>
            	</div>
            	<div class="recommand-item">
            		<imageview data-rate="1"></imageview>
            		<span>柏森</span>
            	</div>
            	<div class="recommand-item">
            		<imageview data-rate="1"></imageview>
            		<span>柏森</span>
            	</div>
            </div>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
