<dribehance-header active="'index'"></dribehance-header>
 <div style="overflow: hidden;">
 	<banner class="banner" data-rate="1920/550">
        <imageview data-rate="1920/550" src="banner" center-only ng-repeat="banner in banners" on-repeat-done></imageview>
    </banner>
 </div>
<div class="wrap">
	<div class="section-1">
		<div class="section-header">
			<span class="block">重点推荐</span>
			<span class="en">Strong recommand</span>
		</div>
		<div class="section-content">
			<div ng-click="go('article')" class="hover">
				<imageview data-rate="316/500" center-only src="'../images/about_bg.jpg'"></imageview>
				<div class="summary">
					<div class="title">松下电动洗碗机评测</div>
					<span>洗碗机</span>
				</div>
			</div>
			<div>
				<imageview data-rate="316/250" center-only src="1"></imageview>
				<div class="summary">
					<div class="title">松下电动洗碗机评测</div>
					<span>洗碗机</span>
				</div>
			</div>
			<div>
				<imageview data-rate="316/250" center-only src="1"></imageview>
				<div class="summary">
					<div class="title">松下电动洗碗机评测</div>
					<span>洗碗机</span>
				</div>
			</div>
			<div>
				<imageview data-rate="316/250" center-only src="1"></imageview>
				<div class="summary">
					<div class="title">松下电动洗碗机评测</div>
					<span>洗碗机</span>
				</div>
			</div>
			<div>
				<imageview data-rate="316/250" center-only src="1"></imageview>
				<div class="summary">
					<div class="title">松下电动洗碗机评测</div>
					<span>洗碗机</span>
				</div>
			</div>
		</div>
	</div>
	<div class="section-2">
		<div class="section-header">
			<span class="block">最新热门</span>
			<span class="en">Most popular</span>
		</div>
		<div class="section-content">
			<div>
				<imageview data-rate="316/250" center-only src="'../images/signin_bg.jpg'"></imageview>
				<div class="summary">
					<div class="title">松下电动洗碗机评测</div>
					<span>洗碗机</span>
				</div>
			</div>
			<div>
				<imageview data-rate="316/250" center-only src="1"></imageview>
				<div class="summary">
					<div class="title">松下电动洗碗机评测</div>
					<span>洗碗机</span>
				</div>
			</div>
			<div>
				<imageview data-rate="316/250" center-only src="1"></imageview>
				<div class="summary">
					<div class="title">松下电动洗碗机评测</div>
					<span>洗碗机</span>
				</div>
			</div>
			<div>
				<imageview data-rate="316/250" center-only src="1"></imageview>
				<div class="summary">
					<div class="title">松下电动洗碗机评测</div>
					<span>洗碗机</span>
				</div>
			</div>
			<div>
				<imageview data-rate="316/250" center-only src="1"></imageview>
				<div class="summary">
					<div class="title">松下电动洗碗机评测</div>
					<span>洗碗机</span>
				</div>
			</div>
		</div>
	</div>
</div>
<dribehance-footer></dribehance-footer>
