<dribehance-header active="'jiaju'"></dribehance-header>
<div class="wrap">
    <div class="condition-section">
        <div class="condition-title">按条件找家具品牌，本站已入驻1180个品牌</div>
        <div class="condition-list">
            <span class="title">按风格</span>
            <span class="more hover">+ 更多</span>
            <div>不限</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
        </div>
        <div class="condition-list">
            <span class="title">按材质</span>
            <span class="more hover">+ 更多</span>
            <div>不限</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
        </div>
        <div class="condition-list">
            <span class="title">按空间</span>
            <span class="more hover">+ 更多</span>
            <div>不限</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
        </div>
        <div class="condition-list">
            <span class="title">按分类</span>
            <span class="more hover">+ 更多</span>
            <div>不限</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
            <div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
        </div>
    </div>
    <div class="charater-index ">
    	<p><b>按品牌字母查找</b></p>
        <div class="justified">
            <span>A</span>
            <span>B</span>
            <span>C</span>
            <span>D</span>
            <span>E</span>
            <span>F</span>
            <span>G</span>
            <span>H</span>
            <span>I</span>
            <span>J</span>
            <span>K</span>
            <span>L</span>
            <span>M</span>
            <span>M</span>
            <span>O</span>
            <span>P</span>
            <span>Q</span>
            <span>R</span>
            <span>S</span>
            <span>T</span>
            <span>U</span>
            <span>V</span>
            <span>W</span>
            <span>X</span>
            <span>Y</span>
            <span>Z</span>
        </div>
    </div>
    <div class="brand-list">
    	<div class="charater-section">
    		<div class="charater-title">A</div>
    		<div class="brand-item">
    			<div class="brand-logo hover" ng-click="go('brand')">
    				<imageview data-rate="1" center-only src="1"></imageview>
    				<div class="logo-text">柏森</div>
    			</div>
    			<div class="serial-section">
    				<div class="serial-title">传承</div>
    				<div class="taofang-item hover" ng-click="go('taofang')">
    					<h4>套房</h4>
    					<div>价格范围：50-100</div>
    					<span class="text-primary">图库</span>
    				</div>
    				<div class="taofang-item">
    					<h4>套房</h4>
    					<div>价格范围：50-100</div>
    					<span class="text-primary">图库</span>
    				</div>
    			</div>
    		</div>
    		<div class="brand-item">
    			<div class="brand-logo">
    				<imageview data-rate="1" center-only src="1"></imageview>
    				<div class="logo-text">柏森</div>
    			</div>
    			<div class="serial-section">
    				<div class="serial-title">传承</div>
    				<div class="taofang-item">
    					<h4>套房</h4>
    					<div>价格范围：50-100</div>
    					<span class="text-primary">图库</span>
    				</div>
    				<div class="taofang-item">
    					<h4>套房</h4>
    					<div>价格范围：50-100</div>
    					<span class="text-primary">图库</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="charater-section">
    		<div class="charater-title">B</div>
    		<div class="brand-item">
    			<div class="brand-logo">
    				<imageview data-rate="1" center-only src="1"></imageview>
    				<div class="logo-text">柏森</div>
    			</div>
    			<div class="serial-section">
    				<div class="serial-title">传承</div>
    				<div class="taofang-item">
    					<h4>套房</h4>
    					<div>价格范围：50-100</div>
    					<span class="text-primary">图库</span>
    				</div>
    				<div class="taofang-item">
    					<h4>套房</h4>
    					<div>价格范围：50-100</div>
    					<span class="text-primary">图库</span>
    				</div>
    			</div>
    		</div>
    		<div class="brand-item">
    			<div class="brand-logo">
    				<imageview data-rate="1" center-only src="1"></imageview>
    				<div class="logo-text">柏森</div>
    			</div>
    			<div class="serial-section">
    				<div class="serial-title">传承</div>
    				<div class="taofang-item">
    					<h4>套房</h4>
    					<div>价格范围：50-100</div>
    					<span class="text-primary">图库</span>
    				</div>
    				<div class="taofang-item">
    					<h4>套房</h4>
    					<div>价格范围：50-100</div>
    					<span class="text-primary">图库</span>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
