<dribehance-header active="'neimu'"></dribehance-header>
<div class="wrap">
	<div class="neimu-section">
		<a ng-href="#/category2?type=1">
			<imageview data-rate="300/400" center-only src="'../images/n_1.png'"></imageview>
		</a>
		<a ng-href="#/category2?type=2">
			<imageview data-rate="300/400" center-only src="'../images/n_2.png'"></imageview>
		</a>
		<a ng-href="#/category2?type=3">
			<imageview data-rate="300/400" center-only src="'../images/n_3.png'"></imageview>
		</a>
		<a ng-href="#/category2?type=4">
			<imageview data-rate="300/400" center-only src="'../images/n_4.png'"></imageview>
		</a>
		<a ng-href="#/category2?type=5">
			<imageview data-rate="300/400" center-only src="'../images/n_5.png'"></imageview>
		</a>
		<a ng-href="#/feedback">
			<imageview data-rate="300/400" center-only src="'../images/ask.png'"></imageview>
		</a>
	</div>
</div>
<dribehance-footer></dribehance-footer>
