<dribehance-header active="'index'"></dribehance-header>
<div class="signin-section">
    <img ng-src="../images/consult_bg.jpg" class="section-bg" alt="">
</div>
<div class="wrap">
	<div class="consult-section">
		<div class="clearfix">
            <div class="vs-label">
                联系方式：
            </div>
            <div class="vs-input">
                <input type="text" name="" placeholder="联系姓名">
            </div>
            <div class="vs-input">
                <input type="text" name="" placeholder="联系电话">
            </div>
        </div>
	</div>
    <div class="comment-section-1">
        <div class="clearfix">
            <div class="vs-label">
                选择产品：
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="请选择品牌">请选择品牌</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="请选择系列">请选择系列</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="选择套房">选择套房</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="选择产品">选择产品</option>
                </select>
            </div>
        </div>
        <div class="clearfix">
            <div class="vs-label">
                购买地点：
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="请选择省份">请选择省份</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="请选择城市">请选择城市</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="请选择经销商">请选择经销商</option>
                </select>
            </div>
        </div>
        <div class="clearfix">
            <div class="vs-label">
                房屋结构：
            </div>
            <div class="vs-input">
                <input type="text" name="" placeholder="房屋面积/平米">
            </div>
            <div class="vs-input">
                <input type="text" name="" placeholder="房屋结构 - 几房几厅">
            </div>
            <div class="vs-label">
                预期价位：
            </div>
            <div class="vs-input" style="width: 83px">
                <input type="text" name="" placeholder="价格">
            </div>
        </div>
        <button class="consult-btn">询问报价</button>
    </div>
</div>
<dribehance-footer></dribehance-footer>
