<dribehance-header active="'index'"></dribehance-header>
<div class="wrap">
	<div class="config-section">
        <div class="image-section">
            <imageview data-rate="343/311" center-only src="1"></imageview>
        </div>
        <div class="setting-section">
            <h2>参数配置</h2>
            <div>品牌成立时间： 2005年</div>
            <div>厂房面积： 2000㎡</div>
            <div>产品产地： 广东深圳</div>
            <div>颜色： 原木色</div>
            <div>风格： 新中式</div>
            <div>材质： 刺猬紫檀</div>
            <div>本系列共有套房： 5个</div>
            <div>本系列共有家具： 150件</div>
        </div>
        <div class="info-section">
            <h2>系列</h2>
            <div class="summary">
                柏森——属于深圳市耀华宜家家具有限公司所经营的家具品牌，该公司创建于2005年，属中外合资企业，位于深圳龙岗区大地工业园，是一家以实木家具为主，集研发、生产、销售于一体的大型企业。下辖柏森系列产品研发设计所、三家制造厂、二家控股子公司、一家沙发厂和遍布海内外的“柏森”品牌专营连锁网络。是广东省家具行业协会常务理事单位，深圳家协副会长单位,先后被授予“深圳家具行业最具潜力品牌”、“省优质产品”和“深圳市质量诚信企业”。
            </div>
            <div class="info-action">
                <div class="hover compare-btn">加入对比</div>
                <div class="hover consult-btn" ng-click="go('comment')">评价（50）</div>
            </div>
        </div>
    </div>
	<div class="category-section">
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
    </div>
    <div class="section-1">
        <div class="section-header">
            <span class="block">风雅禅系列套房</span>
            <span class="en">Image group</span>
        </div>
        <div class="category-section">
            <a ng-href="#/taofang">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/taofang">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/taofang">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
            </a>
            <a ng-href="#/taofang">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
        </div>
    </div>
    <div class="section-1">
        <div class="section-header">
            <span class="block">水雅禅系列套房</span>
            <span class="en">Image group</span>
        </div>
        <div class="category-section">
            <a ng-href="#/taofang">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/taofang">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/taofang">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
            </a>
            <a ng-href="#/taofang">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
