<dribehance-header active="'index'"></dribehance-header>
<div class="wrap">
    <div class="config-section">
        <div class="image-section">
            <imageview data-rate="343/345" center-only src="staticImageUrl + serial.images_01"></imageview>
        </div>
        <div class="setting-section">
            <h2>参数配置</h2>
            <div>品牌成立时间： {{serial.brand_blish_time}}</div>
            <div>厂房面积： {{serial.c_area}}</div>
            <div>产品产地： {{serial.place_address}}</div>
            <div>颜色： {{serial.series_color}}</div>
            <div>风格： <a target="_blank" ng-href="{{serial.fengge_name_url}}" style="color: blue">{{serial.fengge_name}}</a></div>
            <div>材质： <a target="_blank" ng-href="{{serial.caizhi_name_url}}" style="color:blue">{{serial.caizhi_name}}</a></div>
            <div>本系列共有套房： {{serial.taofang_count}}个</div>
            <div>本系列共有家具： {{serial.single_count}}件</div>
        </div>
        <div class="info-section">
        	<h2>{{serial.name}}</h2>
        	<a class="pull-right hover consult-btn" target="_blank" ng-href="#/create_single_comment?brand_id={{serial.find_jiaju_brand_id}}&serial_id={{serial.find_jiaju_brand_series_id}}&taofang_id={{serial.find_jiaju_brand_series_rooms_blank_id}}&single_id={{serial.find_jiaju_brand_series_rooms_blank_single_id}}">发表评价（{{serial.comment_count}}）</a>
        	<!-- <div>柏森 - 传承 - 客厅</div> -->
        	<div>综合评分 {{serial.total_score}}分</div>
        	<div style="min-height: 15px;">
        		<i class="fa fa-star text-primary" ng-repeat="s in repeat_star(serial.total_score) track by $index"></i>
        	</div>
        	<div class="info-table">
        		<div class="info-table-head">
        			<div class="info-table-cell">项目</div>
        			<div class="info-table-cell">用户评分</div>
        			<div class="info-table-cell">项目</div>
        			<div class="info-table-cell">用户评分</div>
        		</div>
        		<div class="info-table-row">
        			<div class="info-table-cell">材质</div>
        			<div class="info-table-cell">{{serial.caizhi_total_score}}分</div>
        			<div class="info-table-cell">涂装</div>
        			<div class="info-table-cell">{{serial.tuzhuang_total_score}}分</div>
        		</div>
        		<div class="info-table-row">
        			<div class="info-table-cell">使用功能</div>
        			<div class="info-table-cell">{{serial.gongneng_total_score}}分</div>
        			<div class="info-table-cell">环保</div>
        			<div class="info-table-cell">{{serial.huanbao_total_score}}分</div>
        		</div>
        		<div class="info-table-row">
        			<div class="info-table-cell">外观</div>
        			<div class="info-table-cell">{{serial.waiguan_total_score}}分</div>
        			<div class="info-table-cell">性价比</div>
        			<div class="info-table-cell">{{serial.xingjiabi_total_score}}分</div>
        		</div>
        		<div class="info-table-row">
        			<div class="info-table-cell">工艺</div>
        			<div class="info-table-cell">{{serial.gongyi_total_score}}分</div>
        		</div>
        	</div>
        </div>
    </div>
    <div class="comment-section-4" ng-repeat="comment in comments">
        <div class="comment-left">
            <div class="comment-user">
                <div class="comment-avatar">
                    <imageview data-rate="1" center-only src="staticImageUrl + comment.user.images_01"></imageview>
                </div>
                {{comment.user.telephone}}
            </div>
            <div class="table">
                <div class="table-row">
                    <div class="table-cell">
                        产品
                    </div>
                    <div class="table-cell">
                        {{comment.product_name}}
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        购买价格
                    </div>
                    <div class="table-cell">
                        {{comment.price}}
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        购买时间
                    </div>
                    <div class="table-cell">
                        {{comment.year+comment.month}}
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        购买地点
                    </div>
                    <div class="table-cell">
                        {{comment.province + comment.city}}
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        经销商
                    </div>
                    <div class="table-cell">
                        {{comment.dealer_name}}
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        购买目的
                    </div>
                    <div class="table-cell">
                        {{parse_aim(comment.buy_aim)}}
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        使用功能
                    </div>
                    <div class="table-cell star-cell">
                        <i class="fa fa-star text-primary" ng-repeat="s in repeat_star(comment.gongneng_score) track by $index"></i> 
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        外观
                    </div>
                    <div class="table-cell star-cell">
                        <i class="fa fa-star text-primary" ng-repeat="s in repeat_star(comment.waiguan_score) track by $index"></i> 
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        工艺
                    </div>
                    <div class="table-cell star-cell">
                        <i class="fa fa-star text-primary" ng-repeat="s in repeat_star(comment.gongyi_score) track by $index"></i>  
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        涂装
                    </div>
                    <div class="table-cell star-cell">
                        <i class="fa fa-star text-primary" ng-repeat="s in repeat_star(comment.tuzhuang_score) track by $index"></i> 
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        环保
                    </div>
                    <div class="table-cell star-cell">
                        <i class="fa fa-star text-primary" ng-repeat="s in repeat_star(comment.huanbao_score) track by $index"></i> 
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        性价比
                    </div>
                    <div class="table-cell star-cell">
                        <i class="fa fa-star text-primary" ng-repeat="s in repeat_star(comment.xingjiabi_score) track by $index"></i> 
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        经销商满意度
                    </div>
                    <div class="table-cell star-cell">
                        <i class="fa fa-star text-primary" ng-repeat="s in repeat_star(comment.manyidu_score) track by $index"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-right">
            <div class="comment-item"><b>【最满意的一点】</b>{{comment.use_manyi}} </div>
            <div class="comment-item"><b>【最不满意的一点】</b>{{comment.use_not_manyi}} </div>
            <div class="comment-item"><b>【外观】</b>{{comment.use_waiguan}} </div>
            <div class="comment-item"><b>【工艺】</b>{{comment.use_gongyi}} </div>
            <div class="comment-item"><b>【涂装】</b>{{comment.use_tuzhuang}} </div>
            <div class="comment-item"><b>【环保】</b>{{comment.use_huanbao}} </div>
            <div class="comment-item"><b>【性价比】</b>{{comment.use_xingjiabi}} </div>
        </div>
    </div>
    <div class="load-more text-center" ng-if="comments.length==0">暂无相关评论</div>
    <div class="load-more text-center hover" ng-click="loadMore()" ng-if="comments.length>0">{{page.message}}</div>
</div>
<dribehance-footer></dribehance-footer>
