<dribehance-header active="'index'"></dribehance-header>
<div class="wrap">
	<div class="vs-section">
		<!-- 第一列 -->
		<div class="col">
			<div class="vs-nav-item hover" ng-click="go('vs_1')">图片对比</div>
			<div class="vs-nav-item hover active" ng-click="go('vs_2')">系列对比</div>
			<div class="vs-nav-item hover" ng-click="go('vs_3')">单品对比</div>
			<div class="vs-nav-item hover" ng-click="go('vs_4')">使用评价对比</div>
			<div class="vs-slash-nav small">
				<span>选择产品</span>
				<span>参数配置</span>
			</div>
			<div class="vs-cell">
				颜色
			</div>
			<div class="vs-cell">
				风格
			</div>
			<div class="vs-cell">
				材质
			</div>
			<div class="vs-cell">
				本系列共有套房
			</div>
			<div class="vs-cell">
				本系列共有家具
			</div>
			<div class="vs-cell">
				品牌成立时间
			</div>
			<div class="vs-cell">
				仓房面积
			</div>
			<div class="vs-cell">
				产品产地
			</div>
		</div>
		<!-- 第二，三，四，五列 -->
		<div class="col" vs2-col brand-id="serial.brand_id" serial-id="serial.serial_id" ng-repeat="serial in serial_compare_list track by $index"></div>
	</div>
</div>
<dribehance-footer></dribehance-footer>