<dribehance-header active="'contact'"></dribehance-header>
<div class="signin-section">
    <img ng-src="../images/about_bg.jpg" class="section-bg" alt="">
</div>
<div class="wrap">
	<div class="section-1">
		<div class="section-header">
			<span class="block">关于我们</span>
			<span class="en">About Us</span>
		</div>
		<div class="about-section">
			柏森——属于深圳市耀华宜家家具有限公司所经营的家具品牌，该公司创建于2005年，属中外合资企业，位于深圳龙岗区大地工业园，是一家以实木家具为主，集研发、生产、销售于一体的大型企业。下辖柏森系列产品研发设计所、三家制造厂、二家控股子公司、一家沙发厂和遍布海内外的“柏森”品牌专营连锁网络。是广东省家具行业协会常务理事单位，深圳家协副会长单位,先后被授予“深圳家具行业最具潜力品牌”、“省优质产品”和“深圳市质量诚信企业”。
			<div class="summary">
				<p>公众号：xxxx</p>
				<p>联系电话：4000000</p>
				<p>电子邮箱：services@pingce.com</p>
				<p>公司地址：广东宝安区名优采购中心</p>
			</div>
		</div>
	</div>
	<div class="section-1">
		<div class="section-header">
			<span class="block">公司地址</span>
			<span class="en">Company address</span>
		</div>
		<div class="about-section">
			<imageview data-rate="958/313" src="'../images/map.png'"></imageview>
			<p></p>
			深圳西乡街道名优采购中心B座1区129
		</div>
	</div>
</div>
<dribehance-footer></dribehance-footer>
