<dribehance-header active="'index'"></dribehance-header>
<div class="wrap">
    <div class="comment-section-1">
        <div class="clearfix">
            <div class="vs-label">
                选择产品：
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="请选择品牌">请选择品牌</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="请选择系列">请选择系列</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="选择套房">选择套房</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="选择产品">选择产品</option>
                </select>
            </div>
        </div>
        <div class="clearfix">
            <div class="vs-label">
                购买地点：
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="请选择省份">请选择省份</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="请选择城市">请选择城市</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="请选择经销商">请选择经销商</option>
                </select>
            </div>
        </div>
        <div class="clearfix">
            <div class="vs-label">
                购买价格：
            </div>
            <div class="vs-input">
                <input type="text" name="price" ng-model="input.price" placeholder="请输入价格">
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="请选择 - 年">请选择 - 年</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="" id="">
                    <option value="请选择 - 月">请选择 - 月</option>
                </select>
            </div>
        </div>
    </div>
    <div class="comment-section-2">
        <div class="row_1">
            <div class="head-cell-1">
                评分项目
            </div>
            <div class="head-cell-2">
                <div class="head-cell-row">
                    <span class="pull-left">比较差</span>
                    <span class="pull-right">非常棒</span>
                </div>
                <div class="head-cell-row">
                    <span>1分</span>
                    <span>2分</span>
                    <span>3分</span>
                    <span>4分</span>
                    <span>5分</span>
                </div>
            </div>
            <div class="head-cell-3"></div>
        </div>
        <div class="row_1">
            <div class="cell-1">材质</div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-3">材质纹理是否美观</div>
        </div>
        <div class="row_1">
            <div class="cell-1">使用功能</div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-3">日常使用是否便利家居生活，如是否方便打扫卫生</div>
        </div>
        <div class="row_1">
            <div class="cell-1">外观</div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-3">产品风格、造型设计接受程度</div>
        </div>
        <div class="row_1">
            <div class="cell-1">工艺</div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-3">是否有变形，非认为损坏等情况</div>
        </div>
        <div class="row_1">
            <div class="cell-1">涂装</div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-3">抚摸家具表面触感是否细腻</div>
        </div>
        <div class="row_1">
            <div class="cell-1">环保</div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-3">家具是否有异味或引起身体不适等</div>
        </div>
        <div class="row_1">
            <div class="cell-1">性价比</div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-3">对家具总体配置、价格是否满意</div>
        </div>
        <div class="row_1">
            <div class="cell-1">经销商购买满意度</div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle text-primary"></i>
            </div>
            <div class="cell-2">
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="cell-3">购买家具及售后过程中对经销商服务质量是否满意</div>
        </div>
    </div>
    <div class="comment-section-2">
        <div class="row_1">
            <div class="cell-1">购买目的</div>
            <div class="cell-4">
                <div class="cell-41">
                    <i class="fa fa-circle-o"></i> 新房装修
                </div>
                <div class="cell-41">
                    <i class="fa fa-circle-o"></i> 旧房升级
                </div>
                <div class="cell-41">
                    <i class="fa fa-circle-o"></i> 重装婚房
                </div>
                <div class="cell-41">
                    <i class="fa fa-circle-o"></i> 小孩出生
                </div>
                <div class="cell-41">
                    <i class="fa fa-circle-o"></i> 其他
                </div>
            </div>
        </div>
    </div>
    <div class="comment-section-2">
        <div class="row_1">
            <div class="cell-1">使用感受</div>
            <div class="cell-4"></div>
        </div>
        <div class="row_1">
            <div class="cell-1">一句话描述 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <input type="text" placeholder="一句话描述你的感受">
            </div>
        </div>
        <div class="row_1">
            <div class="cell-5">最满意的一点 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <textarea placeholder="使用过程中最满意的一点"></textarea>
            </div>
        </div>
        <div class="row_1">
            <div class="cell-5">最不满意的一点 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <textarea placeholder="使用过程中最不满意的一点"></textarea>
            </div>
        </div>
        <div class="row_1">
            <div class="cell-5">最满意的一件 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <textarea placeholder="本系列家具中最满意的一件及原因"></textarea>
            </div>
        </div>
        <div class="row_1">
            <div class="cell-5">不满意的一件 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <textarea placeholder="本系列家具中最不满意的一件及原因"></textarea>
            </div>
        </div>
        <div class="row_1">
            <div class="cell-5">材质 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <textarea placeholder="材质"></textarea>
            </div>
        </div>
        <div class="row_1">
            <div class="cell-5">使用功能 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <textarea placeholder="使用功能"></textarea>
            </div>
        </div>
        <div class="row_1">
            <div class="cell-5">外观 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <textarea placeholder="外观"></textarea>
            </div>
        </div>
        <div class="row_1">
            <div class="cell-5">工艺 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <textarea placeholder="工艺"></textarea>
            </div>
        </div>
        <div class="row_1">
            <div class="cell-5">涂装 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <textarea placeholder="涂装"></textarea>
            </div>
        </div>
        <div class="row_1">
            <div class="cell-5">环保 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <textarea placeholder="环保"></textarea>
            </div>
        </div>
        <div class="row_1">
            <div class="cell-5">性价比 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <textarea placeholder="性价比"></textarea>
            </div>
        </div>
        <div class="row_1">
            <div class="cell-5">其他描述 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <textarea placeholder="其他描述"></textarea>
            </div>
        </div>
        <div class="row_1">
            <div class="cell-5">最终选择原因 <span class="text-danger">*</span></div>
            <div class="cell-4">
                <textarea placeholder="为何最终选择本系列家具"></textarea>
            </div>
        </div>
    </div>
    <div class="comment-section-3">
        <button class="comment-btn">发表评价</button>
        <p>根据平时使用家具的体会，对家具各方面的表现做出评价。</p>
        <p>优秀评价必备条件：每项都细心填写，不留空白；</p>
        <p>优秀评价奖励说明：xxxxxxxxxxxxxxxxxxxxxxx</p>
    </div>
</div>
<dribehance-footer></dribehance-footer>
