<div style="overflow: hidden;" class="gd" ng-controller="hfController" ng-if="(ads|filter:{location_index:2}).length > 0">
        <banner class="banner" data-rate="1000/60">
            <imageview data-rate="1000/60" src="staticImageUrl + ad.images_01" center-only ng-repeat="ad in ads|filter:{location_index:2}" on-repeat-done></imageview>
        </banner>
    </div>
<div class="footer">
    <div class="footer-link">
        <div class="wrap clearfix">
            <div class="link-section">
                <div class="link-section-title">
                    友情链接
                </div>
                <div class="link-section-list">
                    <a class="block" href="http://www.baidu.com">IT168</a>
                    <a class="block" href="http://www.baidu.com">泡泡网</a>
                    <a class="block" href="http://www.baidu.com">二手汽车之家</a>
                    <a class="block" href="http://www.baidu.com">IT168</a>
                    <a class="block" href="http://www.baidu.com">泡泡网</a>
                    <a class="block" href="http://www.baidu.com">二手汽车之家</a>
                </div>
            </div>
            <div class="link-section">
                <div class="link-section-title">
                    联系我们
                </div>
                <div class="link-section-list">
                    <span class="block"><strong>业务咨询</strong></span>
                    <span class="block">400-969-6366</span>
                    <span class="block"><strong>商务市场合作</strong></span>
                    <span class="block">010-5792373</span>
                    <span class="block"><strong>联系销售</strong></span>
                    <span class="block">13768132323</span>
                    <span class="block"><strong>技术支持邮箱</strong></span>
                    <span class="block">support@pingce.com</span>
                </div>
            </div>
            <div class="link-section">
                <div class="qrcode">
                    <imageview data-rate="1" center-only src="'../images/qrcode.png'"></imageview>
                </div>
                微信：dribehance
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="wrap">
            <div>© Copyright 2016 云通讯平台 All Rights Reserved 北京容联易通信息技术有限公司</div>
            <div>
                增值电信业务经营许可证：B2-20090494 电信与信息服务营业经营许可证：京ICP证130398号
            </div>
        </div>
    </div>
</div>
<div ng-include="'../templates/tool.html'"></div>