<dribehance-header active="'jiaju'"></dribehance-header>
<div class="wrap">
    <div class="condition-section">
        <!-- <div class="condition-title">按条件找家具，本站已收录1000家具</div> -->
        <div class="condition-list" ng-if="(category_list | filter:{classify_type:1}).length>0">
            <span class="title">按风格</span>
            <span class="more hover" ng-click="more_type(1)" ng-if="(category_list | filter:{classify_type:1}).length>7">+ 更多</span>
            <div class="hover" ng-click="reset_type(1)" ng-class="{'text-primary':query_category_type(1) == 0}">不限</div>
            <div ng-repeat="category in category_list | filter:{classify_type:1} track by $index" ng-show="$index < size[0]" ng-class="{'text-primary':category.check}" ng-click="search_by_category(category)"> <i class="fa" ng-class="{'fa-check-square-o':category.check,'fa-square-o':!category.check}" aria-hidden="true"></i> {{category.name}}</div>
        </div>
        <div class="condition-list" ng-if="(category_list | filter:{classify_type:2}).length>0">
            <span class="title">按材质</span>
            <span class="more hover" ng-click="more_type(2)" ng-if="(category_list | filter:{classify_type:2}).length>7">+ 更多</span>
            <div class="hover" ng-click="reset_type(2)" ng-class="{'text-primary':query_category_type(2)  == 0}">不限</div>
            <div ng-repeat="category in category_list | filter:{classify_type:2} track by $index" ng-show="$index < size[1]" ng-class="{'text-primary':category.check}" ng-click="search_by_category(category)"> <i class="fa" ng-class="{'fa-check-square-o':category.check,'fa-square-o':!category.check}" aria-hidden="true"></i> {{category.name}}</div>
        </div>
        <div class="condition-list" ng-if="(category_list | filter:{classify_type:3}).length>0">
            <span class="title">按空间</span>
            <span class="more hover" ng-click="more_type(3)" ng-if="(category_list | filter:{classify_type:3}).length>7">+ 更多</span>
            <div class="hover" ng-click="reset_type(3)" ng-class="{'text-primary':query_category_type(3)  == 0}">不限</div>
            <div ng-repeat="category in category_list | filter:{classify_type:3} track by $index" ng-show="$index < size[2]" ng-class="{'text-primary':category.check}" ng-click="search_by_category(category)"> <i class="fa" ng-class="{'fa-check-square-o':category.check,'fa-square-o':!category.check}" aria-hidden="true"></i> {{category.name}}</div>
        </div>
        <div class="condition-list" ng-if="(category_list | filter:{classify_type:4}).length>0">
            <span class="title">按分类</span>
            <span class="more hover" ng-click="more_type(4)" ng-if="(category_list | filter:{classify_type:4}).length>7">+ 更多</span>
            <div class="hover" ng-click="reset_type(4)" ng-class="{'text-primary':query_category_type(4)  == 0}">不限</div>
            <div ng-repeat="category in category_list | filter:{classify_type:4} track by $index" ng-show="$index < size[2]" ng-class="{'text-primary':category.check}" ng-click="search_by_category(category)"> <i class="fa" ng-class="{'fa-check-square-o':category.check,'fa-square-o':!category.check}" aria-hidden="true"></i> {{category.name}}</div>
        </div>
    </div>
    <div class="charater-index ">
    	<p><b>按品牌字母查找</b></p>
        <div class="index-wrap">
            <span ng-repeat="(key, jiaju) in jiaju_list" ng-click="jump_index(key)">{{key}}</span>
        </div>
    </div>
    <div class="brand-list">
    	<div class="charater-section" ng-repeat="(key, jiaju) in jiaju_list">
    		<div class="charater-title" id="{{key}}">{{key}}</div>
    		<div class="brand-item" ng-repeat="brand in jiaju">
    			<a class="brand-logo hover" ng-href="#/brand?id={{brand.find_jiaju_brand_id}}">
    				<imageview data-rate="1" center-only src="staticImageUrl + brand.images_01"></imageview>
    				<div class="logo-text">{{brand.name}}</div>
    			</a>
    			<div class="serial-section" ng-repeat="serial in brand.fSeriesRooms">
    				<div class="serial-title">{{serial.name}}</div>
    				<a class="taofang-item hover" ng-href="#/taofang?id={{taofang.find_jiaju_brand_series_rooms_id}}" ng-repeat="taofang in serial.fSeriesRooms">
    					<h4>{{taofang.name}}</h4>
    					<div>价格范围：{{taofang.price_range}}</div>
    					<span class="text-primary">图库</span>
    				</a>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
