<dribehance-header active="'index'"></dribehance-header>
<div class="wrap">
	<div class="category-section">
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src=""></imageview>
        </a>
        <a>
            <span class="category-title">Popular</span>
            <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
        </a>
    </div>
    <div class="section-1">
        <div class="section-header">
            <span class="block">沙发</span>
            <span class="en">Image group</span>
        </div>
        <div class="category-section">
            <a ng-href="#/product">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/product">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/product">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
            </a>
            <a ng-href="#/product">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
        </div>
    </div>
    <div class="section-1">
        <div class="section-header">
            <span class="block">茶几</span>
            <span class="en">Image group</span>
        </div>
        <div class="category-section">
            <a ng-href="#/product">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/product">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/product">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
            </a>
            <a ng-href="#/product">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
        </div>
    </div>
    <div class="section-1">
        <div class="section-header">
            <span class="block">电视柜</span>
            <span class="en">Image group</span>
        </div>
        <div class="category-section">
            <a ng-href="#/product">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/product">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/product">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
            </a>
            <a ng-href="#/product">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
