<div class="me-section">
    <div class="avatar" flow-init="{singleFile:true}" flow-btn ng-controller="uploadAvatarController">
        <span class="label-btn">点击修改头像</span>
        <imageview data-rate="1" src="staticImageUrl + user.images_01" center-only ng-if="user.images_01"></imageview>
        <div class="progress progress-striped" ng-if="$flow.files[0].isUploading()">
            <div class="progress-bar" ng-style="{width: ($flow.files[0].progress() * 100) + '%'}">
                <span>{{progress($flow.files[0].progress())+"%"}}</span>
            </div>
        </div>
    </div>
    <div class="me-nav">
        <a>个人中心</a>
        <span class="splash">/</span>
        <a target="_blank" ng-href="#/index">家具首页</a>
    </div>
</div>
<div class="wrap">
    <div class="me-account-section">
        <div class="me-left">
            <a class="me-left-item" ng-href="#/basic_info">
                基本信息
            </a>
            <!-- <a class="me-left-item" ng-href="#/setting">
                绑定设置
            </a> -->
            <a class="me-left-item active" ng-href="#/modify_password">
                修改密码
            </a>
            <!-- <a class="me-left-item" ng-href="#/update_avatar">
                 修改头像
            </a>-->
            <a class="me-left-item" ng-href="#/me">
                我的口碑
            </a>
        </div>
        <div class="me-right">
            <div class="feedback-section">
                <form class="feedback-form" ng-submit="ajaxForm()" name="feedbackForm">
                    <div>
                        <p>请输入原密码</p>
                        <input type="password" ng-model="input.password" name="password" required placeholder="原密码">
                    </div>
                    <div>
                        <p>新的密码</p>
                        <input type="password" ng-model="input.password_1" name="password_1" required placeholder="新的密码">
                    </div>
                    <div>
                        <p>确认新的密码</p>
                        <input type="password" ng-model="input.password_2" name="password_2" required placeholder="确认新的密码">
                    </div>
                    <button class="consult-btn" type="submit" ng-disabled="feedbackForm.$invalid">保存</button>
                </form>
            </div>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
