<dribehance-header active="'pingce'"></dribehance-header>
<div class="wrap">
	<div class="condition-section">
		<div class="condition-title">按条件找评测文章，本站已收录1000评测</div>
		<div class="condition-list">
			<span class="title">按风格</span>
			<span class="more hover">+ 更多</span>
			<div>不限</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
		</div>
		<div class="condition-list">
			<span class="title">按材质</span>
			<span class="more hover">+ 更多</span>
			<div>不限</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
		</div>
		<div class="condition-list">
			<span class="title">按空间</span>
			<span class="more hover">+ 更多</span>
			<div>不限</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
			<div> <i class="fa fa-square-o" aria-hidden="true"></i> 现代风格</div>
		</div>
	</div>
	<div class="article-list">
		<div class="article-layout">
			<div class="big-cover">
				<imageview data-rate="960/416" center-only src="'../images/signin_bg.jpg'"></imageview>
				<div class="article-title">
					防潮有一手 圣象PY9190强化木地板评测
				</div>
			</div>
			<div class="image-group">
				<p>评测图片（15）</p>
				<div>
					<imageview data-rate="181/137" center-only src="'../images/signin_bg.jpg'"></imageview>
				</div>
				<div>
					<imageview data-rate="181/137" center-only src="1"></imageview>
				</div>
				<div>
					<imageview data-rate="181/137" center-only src="1"></imageview>
				</div>
			</div>
			<div class="video-wrap">
				<p>评测视频</p>
				<embed src='http://player.youku.com/player.php/sid/XMTg1NDY0ODc1Mg==/v.swf' allowFullScreen='true' quality='high' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
			</div>
		</div>
		<div class="article-layout">
			<div class="big-cover">
				<imageview data-rate="960/416" center-only src="1"></imageview>
				<div class="article-title">
					防潮有一手 圣象PY9190强化木地板评测
				</div>
			</div>
			<div class="image-group">
				<p>评测图片（15）</p>
				<div>
					<imageview data-rate="181/137" center-only src="1"></imageview>
				</div>
				<div>
					<imageview data-rate="181/137" center-only src="1"></imageview>
				</div>
				<div>
					<imageview data-rate="181/137" center-only src="1"></imageview>
				</div>
			</div>
			<div class="video-wrap">
				<p>评测视频</p>
				<embed src='http://player.youku.com/player.php/sid/XMTg1NDY0ODc1Mg==/v.swf' allowFullScreen='true' quality='high' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
			</div>
		</div>
	</div>
</div>
<dribehance-footer></dribehance-footer>
