<dribehance-header active="'index'"></dribehance-header>
<div class="wrap">
	<div class="config-section">
        <div class="image-section">
            <imageview data-rate="343/311" center-only src="staticImageUrl+serial.images_01"></imageview>
        </div>
        <div class="setting-section">
            <h2>参数配置</h2>
            <div>品牌成立时间： {{serial.brand_blish_time}}</div>
            <div>厂房面积： {{serial.c_area}}</div>
            <div>产品产地： {{serial.place_address}}</div>
            <div>颜色： {{serial.series_color}}</div>
            <div>风格： <a href="#" style="color: blue">{{serial.fengge_name}}</a></div>
            <div>材质： <a href="#" style="color:blue">{{serial.caizhi_name}}</a></div>
            <div>本系列共有套房： {{serial.taofang_count}}个</div>
            <div>本系列共有家具： {{serial.single_count}}件</div>
        </div>
        <div class="info-section">
            <h2>{{serial.name}}</h2>
            <div class="summary">
                {{serial.introduce}}
            </div>
            <div class="info-action">
                <div class="hover compare-btn">加入对比</div>
                <div class="hover consult-btn" ng-click="go('comment')">评价（50）</div>
            </div>
        </div>
    </div>
	<div class="category-section">
        <a ng-repeat="s in serial.FindJiajuBrandSeriesRoomsList">
            <span class="category-title">{{s.name}}</span>
            <imageview data-rate="200/112" center-only src="staticImageUrl+s.images_01"></imageview>
        </a>
    </div>
    <div class="section-1" ng-repeat="s in serial.FindJiajuBrandSeriesRoomsList">
        <div class="section-header">
            <span class="block">{{s.name}}</span>
            <span class="en">Image group</span>
        </div>
        <div class="category-section">
            <a ng-href="#/taofang?id={{i.find_jiaju_brand_series_rooms_id}}" ng-repeat="i in s.FindJiajuBrandSeriesRoomsImages">
                <span class="category-title">{{i.name}}</span>
                <imageview data-rate="200/112" center-only src="i.images_01"></imageview>
            </a>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
