<dribehance-header active="'index'"></dribehance-header>
<div class="signin-section">
	<img ng-src="../images/signin_bg.jpg" class="section-bg" alt="">
	<div class="signin-form-wrap">
		<form class="signin-form" ng-submit="ajaxForm()" name="signinForm">
			<input type="text" ng-model="input.telephone" required placeholder="请输入手机号">
			<input type="password" ng-model="input.password" required placeholder="请输入密码">
			<div class="clearfix">
				<a ng-href="#/forget" class="pull-left">忘记密码</a>
				<a ng-href="#/signup" class="pull-right">手机注册</a>
			</div>
			<button type="submit" class="signin-btn">登录</button>
		</form>
	</div>
</div>
<dribehance-footer></dribehance-footer>