<dribehance-header active="'neimu'"></dribehance-header>
<div class="wrap">
    <div class="category-info-section">
        <div class="info-image">
            <imageview data-rate="623/337" center-only src="staticImageUrl + supplier.images_01"></imageview>
        </div>
        <div class="info-text">
            <div class="h1">{{supplier.name}}</div>
            <div class="summary">
                {{supplier.content}}
            </div>
        </div>
    </div>
    <div class="section-1" ng-if="(supplier.HangyeSupplierImagesList|filter:{images_type:1}).length>0">
        <div class="section-header">
            <span class="block">供应产品</span>
            <span class="en">Supplier product</span>
        </div>
        <div class="category-section">
            <a ng-href="#/image_group" ng-repeat="s in supplier.HangyeSupplierImagesList|filter:{images_type:1}">
                <span class="category-title">{{s.name}}</span>
                <imageview data-rate="200/112" center-only src="staticImageUrl + s.images_01"></imageview>
            </a>
        </div>
    </div>
    <div class="section-1" ng-if="(supplier.HangyeSupplierImagesList|filter:{images_type:2}).length>0">
        <div class="section-header">
            <span class="block">品牌荣誉、资质</span>
            <span class="en">Honor</span>
        </div>
        <div class="category-section">
            <a ng-href="#/image_group" ng-repeat="s in supplier.HangyeSupplierImagesList|filter:{images_type:2}">
                <span class="category-title">{{s.name}}</span>
                <imageview data-rate="200/112" center-only src="staticImageUrl + s.images_01"></imageview>
            </a>
        </div>
    </div>
    
    
</div>
<dribehance-footer></dribehance-footer>
