<dribehance-header active="'neimu'"></dribehance-header>
<div class="wrap">
    <div class="category-info-section">
        <div class="info-image">
            <imageview data-rate="623/337" center-only src=""></imageview>
        </div>
        <div class="info-text">
            <div class="h1">供应商</div>
            <div class="summary">
                桦木（学名：Betula）一般指桦木属约100种乔木和灌木的通称。单叶的边缘呈锯齿状或浅裂状，果实是小的翅果。桦木树皮平滑，含树脂，白色或杂色，有横走的皮孔，通常打横剥落成薄片，老树干的树皮厚而具深沟，开裂成不规则的片段。幼树短而纤细的枝条上举，呈窄塔形树冠。桦木的木材淡褐色至红褐色，用作地板、家具、纸浆、内部装饰材料、车船设备、胶合板等。耐寒、速生，对病虫害较有免疫力，用于重新造林、控制水土流失、防护覆盖或作保育树木。多要求湿润、肥沃的砂土或壤土，播种和嫁接繁殖。遍布于北半球寒冷地区。
            </div>
        </div>
    </div>
    <div class="section-1">
        <div class="section-header">
            <span class="block">供应产品</span>
            <span class="en">Supplier product</span>
        </div>
        <div class="category-section">
            <a ng-href="#/category_info">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/category_info">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/category_info">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
            </a>
            <a ng-href="#/category_info">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
        </div>
    </div>
    <div class="section-1">
        <div class="section-header">
            <span class="block">品牌荣誉、资质</span>
            <span class="en">Honor</span>
        </div>
        <div class="category-section">
            <a ng-href="#/category_info">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/category_info">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
            <a ng-href="#/category_info">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src="'../images/example_1.png'"></imageview>
            </a>
            <a ng-href="#/category_info">
                <span class="category-title">Popular</span>
                <imageview data-rate="200/112" center-only src=""></imageview>
            </a>
        </div>
    </div>
    
    
</div>
<dribehance-footer></dribehance-footer>
