<dribehance-header active="'index'"></dribehance-header>
<div class="wrap">
    <div class="vs-section">
        <!-- 第一列 -->
        <div class="col">
            <div class="vs-nav-item hover active" ng-click="go('vs_1')">图片对比</div>
            <div class="vs-nav-item hover" ng-click="go('vs_2')">系列对比</div>
            <div class="vs-nav-item hover" ng-click="go('vs_3')">单品对比</div>
            <div class="vs-nav-item hover" ng-click="go('vs_4')">使用评价对比</div>
            <div class="vs-slash-nav">
                <span>选择产品</span>
                <span>参数配置</span>
            </div>
            <div class="vs-row-head apperance">
                外观
            </div>
            <div class="vs-row-head zaoxing">
                造型
            </div>
            <div class="vs-row-head biaocheng">
                表层细节
            </div>
            <div class="vs-row-head gongyi">
                工艺细节
            </div>
            <div class="vs-row-head gongneng">
                功能细节
            </div>
        </div>
        <!-- 第二列 -->
        <div class="col" ng-controller="imageColController">
            <div class="vs-image">
                <imageview data-rate="192/196" default="'../images/vs_image_1.png'" src="staticImageUrl + images.images_01"></imageview>
            </div>
            <div class="vs-select">
                <select name="brand" id="brand" ng-model="input.brand" ng-options="brand as brand.name for brand in brand_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="serial" id="serial" ng-model="input.serial" ng-options="serial as serial.name for serial in serial_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="taofang" id="taofang" ng-model="input.taofang" ng-options="taofang as taofang.name for taofang in taofang_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="single" id="single" ng-model="input.single" ng-options="single as single.name for single in single_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <!-- 造型 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_zm"></imageview>
                <span class="image-title">正面</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_bm"></imageview>
                <span class="image-title">背面</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_zc"></imageview>
                <span class="image-title">左侧面</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_yc"></imageview>
                <span class="image-title">右侧面</span>
            </div>
            <!-- 造型 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_01"></imageview>
                <span class="image-title">造型1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_02"></imageview>
                <span class="image-title">造型2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_03"></imageview>
                <span class="image-title">造型3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_04"></imageview>
                <span class="image-title">造型4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_05"></imageview>
                <span class="image-title">腿部</span>
            </div>
            <!-- 表层细节 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_01"></imageview>
                <span class="image-title">表层细节1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_02"></imageview>
                <span class="image-title">表层细节2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_03"></imageview>
                <span class="image-title">表层细节3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_04"></imageview>
                <span class="image-title">表层细节4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_05"></imageview>
                <span class="image-title">表层细节5</span>
            </div>
            <!-- 工艺细节 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_01"></imageview>
                <span class="image-title">工艺细节1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_02"></imageview>
                <span class="image-title">工艺细节2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_03"></imageview>
                <span class="image-title">工艺细节3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_04"></imageview>
                <span class="image-title">工艺细节4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_05"></imageview>
                <span class="image-title">工艺细节5</span>
            </div>
            <!-- 功能细节 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_01"></imageview>
                <span class="image-title">功能细节1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_02"></imageview>
                <span class="image-title">功能细节2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_03"></imageview>
                <span class="image-title">功能细节3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_04"></imageview>
                <span class="image-title">功能细节4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_05"></imageview>
                <span class="image-title">功能细节5</span>
            </div>
        </div>
        <!-- 第三列 -->
        <div class="col" ng-controller="imageColController">
            <div class="vs-image">
                <imageview data-rate="192/196" default="'../images/vs_image_1.png'" src="staticImageUrl + images.images_01"></imageview>
            </div>
            <div class="vs-select">
                <select name="brand" id="brand" ng-model="input.brand" ng-options="brand as brand.name for brand in brand_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="serial" id="serial" ng-model="input.serial" ng-options="serial as serial.name for serial in serial_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="taofang" id="taofang" ng-model="input.taofang" ng-options="taofang as taofang.name for taofang in taofang_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="single" id="single" ng-model="input.single" ng-options="single as single.name for single in single_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <!-- 造型 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_zm"></imageview>
                <span class="image-title">正面</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_bm"></imageview>
                <span class="image-title">背面</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_zc"></imageview>
                <span class="image-title">左侧面</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_yc"></imageview>
                <span class="image-title">右侧面</span>
            </div>
            <!-- 造型 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_01"></imageview>
                <span class="image-title">造型1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_02"></imageview>
                <span class="image-title">造型2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_03"></imageview>
                <span class="image-title">造型3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_04"></imageview>
                <span class="image-title">造型4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_05"></imageview>
                <span class="image-title">腿部</span>
            </div>
            <!-- 表层细节 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_01"></imageview>
                <span class="image-title">表层细节1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_02"></imageview>
                <span class="image-title">表层细节2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_03"></imageview>
                <span class="image-title">表层细节3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_04"></imageview>
                <span class="image-title">表层细节4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_05"></imageview>
                <span class="image-title">表层细节5</span>
            </div>
            <!-- 工艺细节 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_01"></imageview>
                <span class="image-title">工艺细节1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_02"></imageview>
                <span class="image-title">工艺细节2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_03"></imageview>
                <span class="image-title">工艺细节3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_04"></imageview>
                <span class="image-title">工艺细节4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_05"></imageview>
                <span class="image-title">工艺细节5</span>
            </div>
            <!-- 功能细节 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_01"></imageview>
                <span class="image-title">功能细节1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_02"></imageview>
                <span class="image-title">功能细节2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_03"></imageview>
                <span class="image-title">功能细节3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_04"></imageview>
                <span class="image-title">功能细节4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_05"></imageview>
                <span class="image-title">功能细节5</span>
            </div>
        </div>
        <!-- 第四列 -->
        <div class="col" ng-controller="imageColController">
            <div class="vs-image">
                <imageview data-rate="192/196" default="'../images/vs_image_1.png'" src="staticImageUrl + images.images_01"></imageview>
            </div>
            <div class="vs-select">
                <select name="brand" id="brand" ng-model="input.brand" ng-options="brand as brand.name for brand in brand_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="serial" id="serial" ng-model="input.serial" ng-options="serial as serial.name for serial in serial_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="taofang" id="taofang" ng-model="input.taofang" ng-options="taofang as taofang.name for taofang in taofang_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="single" id="single" ng-model="input.single" ng-options="single as single.name for single in single_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <!-- 造型 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_zm"></imageview>
                <span class="image-title">正面</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_bm"></imageview>
                <span class="image-title">背面</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_zc"></imageview>
                <span class="image-title">左侧面</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_yc"></imageview>
                <span class="image-title">右侧面</span>
            </div>
            <!-- 造型 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_01"></imageview>
                <span class="image-title">造型1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_02"></imageview>
                <span class="image-title">造型2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_03"></imageview>
                <span class="image-title">造型3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_04"></imageview>
                <span class="image-title">造型4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_05"></imageview>
                <span class="image-title">腿部</span>
            </div>
            <!-- 表层细节 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_01"></imageview>
                <span class="image-title">表层细节1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_02"></imageview>
                <span class="image-title">表层细节2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_03"></imageview>
                <span class="image-title">表层细节3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_04"></imageview>
                <span class="image-title">表层细节4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_05"></imageview>
                <span class="image-title">表层细节5</span>
            </div>
            <!-- 工艺细节 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_01"></imageview>
                <span class="image-title">工艺细节1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_02"></imageview>
                <span class="image-title">工艺细节2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_03"></imageview>
                <span class="image-title">工艺细节3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_04"></imageview>
                <span class="image-title">工艺细节4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_05"></imageview>
                <span class="image-title">工艺细节5</span>
            </div>
            <!-- 功能细节 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_01"></imageview>
                <span class="image-title">功能细节1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_02"></imageview>
                <span class="image-title">功能细节2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_03"></imageview>
                <span class="image-title">功能细节3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_04"></imageview>
                <span class="image-title">功能细节4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_05"></imageview>
                <span class="image-title">功能细节5</span>
            </div>
        </div>
        <!-- 第五列 -->
        <div class="col" ng-controller="imageColController">
            <div class="vs-image">
                <imageview data-rate="192/196" default="'../images/vs_image_1.png'" src="staticImageUrl + images.images_01"></imageview>
            </div>
            <div class="vs-select">
                <select name="brand" id="brand" ng-model="input.brand" ng-options="brand as brand.name for brand in brand_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="serial" id="serial" ng-model="input.serial" ng-options="serial as serial.name for serial in serial_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="taofang" id="taofang" ng-model="input.taofang" ng-options="taofang as taofang.name for taofang in taofang_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="single" id="single" ng-model="input.single" ng-options="single as single.name for single in single_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <!-- 造型 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_zm"></imageview>
                <span class="image-title">正面</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_bm"></imageview>
                <span class="image-title">背面</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_zc"></imageview>
                <span class="image-title">左侧面</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.waiguan_yc"></imageview>
                <span class="image-title">右侧面</span>
            </div>
            <!-- 造型 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_01"></imageview>
                <span class="image-title">造型1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_02"></imageview>
                <span class="image-title">造型2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_03"></imageview>
                <span class="image-title">造型3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_04"></imageview>
                <span class="image-title">造型4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.zx_05"></imageview>
                <span class="image-title">腿部</span>
            </div>
            <!-- 表层细节 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_01"></imageview>
                <span class="image-title">表层细节1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_02"></imageview>
                <span class="image-title">表层细节2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_03"></imageview>
                <span class="image-title">表层细节3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_04"></imageview>
                <span class="image-title">表层细节4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.bc_05"></imageview>
                <span class="image-title">表层细节5</span>
            </div>
            <!-- 工艺细节 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_01"></imageview>
                <span class="image-title">工艺细节1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_02"></imageview>
                <span class="image-title">工艺细节2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_03"></imageview>
                <span class="image-title">工艺细节3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_04"></imageview>
                <span class="image-title">工艺细节4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gy_05"></imageview>
                <span class="image-title">工艺细节5</span>
            </div>
            <!-- 功能细节 -->
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_01"></imageview>
                <span class="image-title">功能细节1</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_02"></imageview>
                <span class="image-title">功能细节2</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_03"></imageview>
                <span class="image-title">功能细节3</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_04"></imageview>
                <span class="image-title">功能细节4</span>
            </div>
            <div class="vs-image">
                <imageview data-rate="192/145" default="'../images/vs_image_2.png'" src="staticImageUrl + images.gn_05"></imageview>
                <span class="image-title">功能细节5</span>
            </div>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
