<div class="vs-image">
    <imageview data-rate="192/196" default="'../images/vs_image_1.png'" center-only src="staticImageUrl+serial.images_01"></imageview>
</div>
<div class="vs-select">
    <select name="brand" id="brand" ng-model="input.brand" ng-options="brand as brand.name for brand in brand_list" required>
        <option value="">请选择</option>
    </select>
</div>
<div class="vs-select">
    <select name="serial" id="serial" ng-model="input.serial" ng-options="serial as serial.name for serial in serial_list" required>
        <option value="">请选择</option>
    </select>
</div>
<div class="vs-cell" ng-mouseover="hover(1)" ng-class="{'hover-row':hover_cell == '1'}">
    {{serial.series_color}}
</div>
<div class="vs-cell" ng-mouseover="hover(2)" ng-class="{'hover-row':hover_cell == '2'}">
    {{serial.fengge_name}}
</div>
<div class="vs-cell" ng-mouseover="hover(3)" ng-class="{'hover-row':hover_cell == '3'}">
    {{serial.caizhi_name}}
</div>
<div class="vs-cell" ng-mouseover="hover(4)" ng-class="{'hover-row':hover_cell == '4'}">
    {{serial.taofang_count}}
</div>
<div class="vs-cell" ng-mouseover="hover(5)" ng-class="{'hover-row':hover_cell == '5'}">
    {{serial.single_count}}
</div>
<div class="vs-cell" ng-mouseover="hover(6)" ng-class="{'hover-row':hover_cell == '6'}">
    {{serial.brand_blish_time}}
</div>
<div class="vs-cell" ng-mouseover="hover(7)" ng-class="{'hover-row':hover_cell == '7'}">
    {{serial.c_area}}
</div>
<div class="vs-cell" ng-mouseover="hover(8)" ng-class="{'hover-row':hover_cell == '8'}">
    {{serial.place_address}}
</div>
