<dribehance-header active="'index'"></dribehance-header>
<div class="wrap">
    <div class="vs-section">
        <!-- 第一列 -->
        <div class="col">
            <div class="vs-nav-item hover" ng-click="go('vs_1')">图片对比</div>
            <div class="vs-nav-item hover" ng-click="go('vs_2')">系列对比</div>
            <div class="vs-nav-item hover active" ng-click="go('vs_3')">单品对比</div>
            <div class="vs-nav-item hover" ng-click="go('vs_4')">使用评价对比</div>
            <div class="vs-slash-nav">
                <span>选择产品</span>
                <span>参数配置</span>
            </div>
            <div class="vs-cell">
                型号
            </div>
            <div class="vs-cell">
                尺寸
            </div>
            <div class="vs-cell">
                颜色
            </div>
            <div class="vs-cell">
                风格
            </div>
            <div class="vs-cell">
                材质
            </div>
            <div class="vs-cell">
                连接结构
            </div>
            <div class="vs-cell">
                涂装工艺
            </div>
            <div class="vs-cell">
                装饰工艺
            </div>
            <div class="vs-cell">
                适合空间
            </div>
            <div class="vs-cell">
                官方指导价
            </div>
            <div class="vs-cell">
                经销商报价
            </div>
        </div>
        <!-- 第二，三，四，五列 -->
        <div class="col" vs3-col brand-id="product.brand_id" serial-id="product.serial_id" taofang-id="product.taofang_id" product-id="product.product_id" ng-repeat="product in product_compare_list track by $index"></div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
