<dribehance-header active="'index'"></dribehance-header>
<div class="wrap">
    <div class="vs-section">
        <!-- 第一列 -->
        <div class="col">
            <div class="vs-nav-item hover" ng-click="go('vs_1')">图片对比</div>
            <div class="vs-nav-item hover" ng-click="go('vs_2')">系列对比</div>
            <div class="vs-nav-item hover" ng-click="go('vs_3')">单品对比</div>
            <div class="vs-nav-item hover active" ng-click="go('vs_4')">使用评价对比</div>
            <div class="vs-slash-nav">
                <span>选择产品</span>
                <span>参数配置</span>
            </div>
            <div class="vs-cell">
				综合评价
			</div>
			<div class="vs-cell">
				材质
			</div>
			<div class="vs-cell">
				使用功能
			</div>
			<div class="vs-cell">
				外观
			</div>
			<div class="vs-cell">
				工艺
			</div>
			<div class="vs-cell">
				涂装
			</div>
			<div class="vs-cell">
				环保
			</div>
			<div class="vs-cell">
				性价比
			</div>
			<div class="vs-cell">
				经销商满意度
			</div>
			<div class="vs-row-head comment">
				最满意的一点
			</div>
			<div class="vs-row-head comment">
				最不满意的一点
			</div>
			<div class="vs-row-head comment">
				外观
			</div>
			<div class="vs-row-head comment">
				工艺
			</div>
			<div class="vs-row-head comment">
				涂装
			</div>
			<div class="vs-row-head comment">
				环保
			</div>
			<div class="vs-row-head comment">
				性价比
			</div>
        </div>
        <!-- 第二列 -->
        <div class="col" ng-controller="commentColController">
        	<div class="vs-image">
                <imageview data-rate="192/196" default="'../images/vs_image_1.png'"></imageview>
            </div>
            <div class="vs-select">
                <select name="brand" id="brand" ng-model="input.brand" ng-options="brand as brand.name for brand in brand_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="serial" id="serial" ng-model="input.serial" ng-options="serial as serial.name for serial in serial_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="taofang" id="taofang" ng-model="input.taofang" ng-options="taofang as taofang.name for taofang in taofang_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="single" id="single" ng-model="input.single" ng-options="single as single.name for single in single_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
        	<div class="vs-cell text-primary">
				<i class="fa fa-star text-primary" ng-repeat="s in repeat_star(product.total_score) track by $index"></i>
			</div>
			<div class="vs-cell" ng-mouseover="hover(1)" ng-class="{'hover-row':hover_cell == '1'}">
				{{product.caizhi_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(2)" ng-class="{'hover-row':hover_cell == '2'}">
				{{product.gongneng_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(3)" ng-class="{'hover-row':hover_cell == '3'}">
				{{product.waiguan_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(4)" ng-class="{'hover-row':hover_cell == '4'}">
				{{product.gongyi_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(5)" ng-class="{'hover-row':hover_cell == '5'}">
				{{product.tuzhuang_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(6)" ng-class="{'hover-row':hover_cell == '6'}">
				{{product.huanbao_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(7)" ng-class="{'hover-row':hover_cell == '7'}">
				{{product.xingjiabi_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(8)" ng-class="{'hover-row':hover_cell == '8'}">
				{{product.manyidu_total_score}}
			</div>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_manyi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_not_manyi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_waiguan}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_gongyi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_tuzhuang}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_huanbao}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_xingjiabi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
        </div>
        <!-- 第三列 -->
        <div class="col" ng-controller="commentColController">
        	<div class="vs-image">
                <imageview data-rate="192/196" default="'../images/vs_image_1.png'"></imageview>
            </div>
            <div class="vs-select">
                <select name="brand" id="brand" ng-model="input.brand" ng-options="brand as brand.name for brand in brand_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="serial" id="serial" ng-model="input.serial" ng-options="serial as serial.name for serial in serial_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="taofang" id="taofang" ng-model="input.taofang" ng-options="taofang as taofang.name for taofang in taofang_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="single" id="single" ng-model="input.single" ng-options="single as single.name for single in single_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
        	<div class="vs-cell text-primary">
				<i class="fa fa-star text-primary" ng-repeat="s in repeat_star(product.total_score) track by $index"></i>
			</div>
			<div class="vs-cell" ng-mouseover="hover(1)" ng-class="{'hover-row':hover_cell == '1'}">
				{{product.caizhi_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(2)" ng-class="{'hover-row':hover_cell == '2'}">
				{{product.gongneng_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(3)" ng-class="{'hover-row':hover_cell == '3'}">
				{{product.waiguan_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(4)" ng-class="{'hover-row':hover_cell == '4'}">
				{{product.gongyi_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(5)" ng-class="{'hover-row':hover_cell == '5'}">
				{{product.tuzhuang_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(6)" ng-class="{'hover-row':hover_cell == '6'}">
				{{product.huanbao_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(7)" ng-class="{'hover-row':hover_cell == '7'}">
				{{product.xingjiabi_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(8)" ng-class="{'hover-row':hover_cell == '8'}">
				{{product.manyidu_total_score}}
			</div>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_manyi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_not_manyi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_waiguan}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_gongyi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_tuzhuang}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_huanbao}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_xingjiabi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
        </div>
        <!-- 第四列 -->
        <div class="col" ng-controller="commentColController">
        	<div class="vs-image">
                <imageview data-rate="192/196" default="'../images/vs_image_1.png'"></imageview>
            </div>
            <div class="vs-select">
                <select name="brand" id="brand" ng-model="input.brand" ng-options="brand as brand.name for brand in brand_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="serial" id="serial" ng-model="input.serial" ng-options="serial as serial.name for serial in serial_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="taofang" id="taofang" ng-model="input.taofang" ng-options="taofang as taofang.name for taofang in taofang_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="single" id="single" ng-model="input.single" ng-options="single as single.name for single in single_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
        	<div class="vs-cell text-primary">
				<i class="fa fa-star text-primary" ng-repeat="s in repeat_star(product.total_score) track by $index"></i>
			</div>
			<div class="vs-cell" ng-mouseover="hover(1)" ng-class="{'hover-row':hover_cell == '1'}">
				{{product.caizhi_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(2)" ng-class="{'hover-row':hover_cell == '2'}">
				{{product.gongneng_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(3)" ng-class="{'hover-row':hover_cell == '3'}">
				{{product.waiguan_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(4)" ng-class="{'hover-row':hover_cell == '4'}">
				{{product.gongyi_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(5)" ng-class="{'hover-row':hover_cell == '5'}">
				{{product.tuzhuang_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(6)" ng-class="{'hover-row':hover_cell == '6'}">
				{{product.huanbao_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(7)" ng-class="{'hover-row':hover_cell == '7'}">
				{{product.xingjiabi_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(8)" ng-class="{'hover-row':hover_cell == '8'}">
				{{product.manyidu_total_score}}
			</div>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_manyi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_not_manyi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_waiguan}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_gongyi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_tuzhuang}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_huanbao}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_xingjiabi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
        </div>
        <!-- 第五列 -->
        <div class="col" ng-controller="commentColController">
        	<div class="vs-image">
                <imageview data-rate="192/196" default="'../images/vs_image_1.png'"></imageview>
            </div>
            <div class="vs-select">
                <select name="brand" id="brand" ng-model="input.brand" ng-options="brand as brand.name for brand in brand_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="serial" id="serial" ng-model="input.serial" ng-options="serial as serial.name for serial in serial_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="taofang" id="taofang" ng-model="input.taofang" ng-options="taofang as taofang.name for taofang in taofang_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="vs-select">
                <select name="single" id="single" ng-model="input.single" ng-options="single as single.name for single in single_list" required>
                    <option value="">请选择</option>
                </select>
            </div>
        	<div class="vs-cell text-primary">
				<i class="fa fa-star text-primary" ng-repeat="s in repeat_star(product.total_score) track by $index"></i>
			</div>
			<div class="vs-cell" ng-mouseover="hover(1)" ng-class="{'hover-row':hover_cell == '1'}">
				{{product.caizhi_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(2)" ng-class="{'hover-row':hover_cell == '2'}">
				{{product.gongneng_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(3)" ng-class="{'hover-row':hover_cell == '3'}">
				{{product.waiguan_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(4)" ng-class="{'hover-row':hover_cell == '4'}">
				{{product.gongyi_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(5)" ng-class="{'hover-row':hover_cell == '5'}">
				{{product.tuzhuang_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(6)" ng-class="{'hover-row':hover_cell == '6'}">
				{{product.huanbao_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(7)" ng-class="{'hover-row':hover_cell == '7'}">
				{{product.xingjiabi_total_score}}
			</div>
			<div class="vs-cell" ng-mouseover="hover(8)" ng-class="{'hover-row':hover_cell == '8'}">
				{{product.manyidu_total_score}}
			</div>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_manyi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_not_manyi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_waiguan}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_gongyi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_tuzhuang}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_huanbao}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
			<div class="vs-comment-list">
				<div class="vs-comment-item" ng-repeat="comment in comments">
					<div class="comment-meta"><span class="comment-name">{{comment.nickname}}</span> {{comment.post_time}} 发表</div>
					<div class="comment-content">{{comment.use_xingjiabi}}</div>
				</div>
			</div>
			<a class="more-comment" ng-if="comments.length>0" target="_blank" ng-href="#/comment?id={{input.single.find_jiaju_brand_series_rooms_blank_single_id}}">
				更多评论
			</a>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
